
<nav class="navbar navbar-light bg-light">
    <i>Desafio Fábrica de Software</i>
    <span>Geovane Schmitt Oechsler</span>
</nav>
<div  class="menu">
    <div class="row mt-1">
        <a role="button" href="warehouse/admin" class="btn-lg btn-outline-info mx-auto">SETOR ADMINISTRATIVO</a>
    </div>
    <div class="row mt-1">
            <a role="button" href="warehouse/warehouse" class="btn-lg btn-outline-info mx-auto">SETOR ALMOXARIFADO</a>
    </div>
    <div class="row mt-1">
            <a role="button" href="request/userRequester/0" class="btn-lg btn-outline-info mx-auto">+ NOVA SOLICITAÇÃO</a>
    </div>
  </div>

  